/* WelcomePage.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.welcome-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: relative;
  z-index: 2; /* Ensure the header is above the sidebar */
}

.welcome-page-logo {
  display: flex;
  align-items: center;
}

.welcome-page-logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.welcome-page-logo-text {
  font-size: 18px;
  font-weight: bold;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.welcome-page-content {
  display: flex;
  flex: 1;
  overflow-x: hidden; /* Prevent content overflow from sidebar */
}

.welcome-page-sidebar {
  flex: 0 0 200px;
  background-color: #f1f1f1;
  padding: 16px;
  z-index: 1; /* Ensure the sidebar is below the header */
  position: relative;
}

.sidebar-nav {
  list-style-type: none;
  padding: 30px;
  margin-left: 20;
  padding-top: 0px;
}

.sidebar-nav li {
  margin-bottom: 20px;
}

.sidebar-nav li a {
  display: flex;
  align-items: center;
  padding: 8px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-nav li a:hover {
  color: #fff;
  background-color: #333;
}

.sidebar-nav li a.active {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
}

.sidebar-nav li a svg {
  margin-right: 10px;
}

.welcome-page-main {
  flex: 1;
  padding: 16px;
  margin-left: 200px; /* Initial margin to accommodate open sidebar */
}

.toggle-sidebar-button {
  display: none; /* Hide the toggle button */
}

.logout-button {
  background-color: red;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #000;
}
